.DS_Store
UserInterfaceState.xcuserstate
SteamedWorlds.xcodeproj/project.xcworkspace/xcuserdata/
Debug
/SteamedWorlds.vcxproj.user
/SteamedWorlds.opensdf
/SteamedWorlds.sdf
SteamedWorlds.xcodeproj/xcuserdata/*
/SteamedWorlds/Users
/SteamedWorlds/Documents
/SteamedWorlds/simon
Release
